spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
app:
  cors:
    allowedOrigins: http://localhost:3000
    enabled: true
